* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.collapsible {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border-bottom: 1px solid #EDEDED;
    font-family: Segoe UI;
    font-weight: 350;
    font-style: Semilight;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase
}

.collapsible.active,
.collapsible:hover {
    background-color: #f2f0f0;
}

.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.collapsible:after {
    content: '\02795';
    font-size: 8px;
    color: white;
    float: right;
    margin-left: 5px;
}

.collapsible.active:after {
    content: "\2796";
}

html,
body {
    height: 100%;
    width: 100vw;
}

body {
    color: #1f2937;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    line-height: 1.5;
    padding-bottom: 2rem;
}

header {
    width: 100%;
    padding: 1rem 0.5rem;
    display: flex;
    border: 1px solid #EDEDED;
    justify-content: center;
    align-items: center;
}

.brand-logo>img {
    height: 40px;
    width: fit-content;
}

.main-container {
    height: auto;
    padding: 0;
}

@media (min-width: 1024px) {
    .main-container {
        height: calc(100vh - 4rem);
        padding: 0 0rem 2rem;
    }
}

.grid-layout {
    display: block;
    grid-template-columns: 1fr;
    background-color: #fff;
    border-radius: 0.5rem;
    height: 100%;
}

.viewer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 50vh;
    position: relative;
}

@media (min-width: 1024px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 2.3fr 0.7fr;
    }
    .viewer-section{
        height: 100%;
    }
}

#viewer-container {
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    border-left: 1px solid #EDEDED;
}

.variations-grid,
.options-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.25rem;
}

@media (min-width: 1024px) {

    .variations-grid,
    .options-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}
.component-section{
    margin-top: 1rem;
}
.option-item,
.material-option-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.option-swatch {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    transition: all 0.2s ease;
    flex-shrink: 0;
}

.material-option-swatch {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #e5e7eb;
    transition: all 0.2s ease;
    flex-shrink: 0;
}

.material-option-swatch.selected {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1.5px solid #BAA370;
    overflow: hidden;
    background-color: #e5e7eb;
    transition: all 0.2s ease;
    flex-shrink: 0;
}

.option-item:hover .option-swatch,
.material-option-item:hover .material-option-swatch {
    transform: scale(1.05);
}

.option-label.selected,
.material-option-label.selected {
    border: 1.5px solid #000;
    border-radius: 50%;
    padding-bottom: 0.25rem;
}

.option-item.selected {
    border-bottom: 1.5px solid #000;
    padding-bottom: 0.25rem;
}

.option-swatch img,
.material-option-swatch img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.option-label,
.material-option-label {
    font-size: 0.5rem;
    color: #4b5563;
    text-align: center;
}

.option-swatch.loading,
.material-option-swatch.loading {
    position: relative;
    pointer-events: none;
}

.option-swatch.loading::after,
.material-option-swatch.loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid #000;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    z-index: 10;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}